:root {
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196f3;
    --primery-white-color: #ffffff;
    --bg-color-ourteam: #e5e5e5;
    --bg-footer: #2f303a;
    --bg-color-section: #F5F4FA;
    --bg-color-title: #2f303a;
    --bg-color-btn-section: #188ce8;
    --footer-contacts-color: rgba(255, 255, 255, 0.6)
  }